<div class="container">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <h2>Registration Form</h2>
    <div class="col align-items-center justify-content-center">
        <form formGroup="form">
            <div class="row ">
                <div class="col-md-8">
                    <div class="form-group ">
                        <label for="exampleInputEmail1 ">Email address</label>
                        <input type="email" formControlName="email" class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp " placeholder="Enter email ">

                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-8">
                    <div class="form-group ">
                        <label for="exampleInputEmail1 ">Name</label>
                        <input type="name" formControlName="name" class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp " placeholder="Enter email ">

                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="exampleInputEmail1 ">Course</label>
                        <input type="email " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp " placeholder="Enter email ">

                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-8">
                    <div class="form-group ">
                        <label for="exampleInputEmail1 ">Branch</label>
                        <input type="email " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp " placeholder="Enter email ">

                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-8">
                    <div class="form-group ">
                        <label for="exampleInputEmail1 ">Registration number</label>
                        <input type="email " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp " placeholder="Enter email ">
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-8">
                    <div class="form-group ">
                        <label for="exampleInputEmail1 "> Number Of Back Papers</label>
                        <input type="email" class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp " placeholder="Enter email ">
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-8">
                    <div class="form-group ">

                        <div *ngFor="let a of arrayOfObj">
                            <input autocomplete="off" class="input" id="field1" name="prof1" type="text" placeholder="Type something" data-items="8" /><button id="b1" class="btn add-more" type="button">+</button>
                        </div>

                    </div>
                </div>
            </div>
            <button type="submit " class="btn btn-primary" (click)="onSubmit()">Pay</button>
        </form>
    </div>
</div>